@charset "UTF-8";

body{
    width: 500px;
}
h1{
    margin : 20px;
}
form{
    margin: 20px;
}
fieldset{
/*     border: none;
    태그 자체가 기본선을 가짐. 없엘때 none 처리 */
    padding:20px;
    margin: 20px 0;
}
legend{
    font-size : 30px;
    padding: 10px;
}
ul{}
li{
    padding:10px;
}
h3{
    margin: 10px 0;
}

/* 
== 입력폼 그룹지정 태그 ==
<form> : 입력폼
<fieldset> : 입력폼이 다수일경우, 그룹핑할 경우 사용
    <legend> : 그룹명 지정

== input 태그 입력 양식 태그 ==
: 아이디, 검색어, 입력하는 텍스트상자, 로그인버튼 등

<input type="값">
ex) 아이디, 비밀번호, 체크박스, 라디오버튼, 이메일, 전화번호, 날짜, 시간, 이미지, 버튼 등

== 1) 글자, 비밀번호 태그 속성 ==
<input type="text">
<input type="password">

maxlength : 최대 글자 입력수 
minlength : 최소 글자 입력수 (크롬, 안드로이드만 지원한정)
size : 입력폼 기본 글자수 20 (변경가능)
value : 기본 입력값. (서버로 전송되는 값)
required : 필수로 데이터를 입력하게 하는 속성

== label 태그 ==
<label> 태그 : 폼요소에 레이블 (명칭=이름)
폼요소와 레이블텍스트가 서로 연결되어 있다는 것을 브라우저가 인식함.

<label for = "id명">텍스트</label>
<input type="값" id="id명">
와 같이 id를 for속성을 이용하여 input과 필수로 연결해야함.

-----------------------------------
== 선택 목록 양식 ==
<select name="이름" size="값" multiple>
    <option value="전송값1" selected>선택1</option>
    <option value="전송값2">선택2</option>
</select>
value="값" : 서버 전송값 => 선택1을 선택시 선택1이 전송되는 것이 아니라 value 속성값 1이 전달됨.

size : 미리 선택지를 펼쳐서 보여줌

selected : 선택 미리 지정.

multiple : 다중선택 가능 (ctrl + 클릭)

==<optgroup>==
: 선택목록이 너무 많을 경우 여러 항목을 그룹핑(하위그룹 데이터만 선택가능)
<optgroup label="그룹명">
    ....
</optgroup>

==<datalist>==
:user가 선택대신 직접 입력할떄 사용.
자동완성 기능과 유사함 <input>과 함께 사용됨

list="id동일값" : 데이터 목록 선언
label="이름" : user 표시내용. 지정안할시 value값 표시.
*/