@charset "utf-8";

#wrap{}

/* header start---------- */

#header{
    height: 70px;
    border-bottom: 1px solid #bbb;
    background: #aee;
}
#header_inner{
    width: 1200px;
    height: 70px;/* header 랑 높이 맞춤 */
    margin: 0 auto;/* 가로중앙 */
    background: #eee;   
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; 
    align-items: center;/* 세로중앙 */
}
.logo{
    letter-spacing: -1px;
    /* 
    letter-spacing : 자간(글자와 글자 사이의 간격)을 줄여줌 
    양수는 간격이 넓어지고 음수는 좁아짐.(음수는 많이주면 글자 겹침)
    보통 소숫점 단위로 씀
    */
}
.logo span{
    font-weight: normal;
    font-size: 28px;
}
.gnb h2{
    display: none;
}
.gnb ul{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    width: 400px;
    /* 
    공간을 지정해서 잡으면 나중에 틀어지는게 없어짐 
    flex: 쓰면 붙음(background 색입혀서 확인)
    */
}
.gnb ul li{
    width: 70px;
    background: #eaa;
    text-align: center;
}

.gnb ul li:hover a{
    font-weight: 700;
    text-decoration: underline;
    /* border-bottom:1px solid #333; */
    /* border는 1px이라는 값을 가지고 있어서 하단부가 밀림 */
}
.utill ul li{
    display: inline-block;
    margin-left: 15px;
    /* 
    사이트 구조상 왼쪽에 컨텐츠가 붙어있지 않아 왼쪽으로 줌 
    오른쪽으로 주면 오른쪽 벽에 안붙고 뜸
    */
}
.utill ul li a:hover{
    color:#1d4;
    /* 하위 포함관계 depth구조가 없으므로 a에 바로 적용가능. */
}
/* 
html5 비디오태그 : html5 웹 표준에서 새로나온 태그. 
== 비디오파일 지원 ==
대부분 브라우저에서 재생할 수 있도록 하려면 mp4, ogg webm 확장자 파일이 있어야함.
mp4 : 전체 브라우저 대부분 지원함 (가장 많이 사용)
ogg, webm : 익스, 사파리 지원불가 (ie9버전 이상)
<video src="비디오 경로 . 확장자명"></video>

== 비디오태그 속성값 ==
width 
heignt
autoplay : 자동재생 여부 설정 ( 음소거 속성과 함께 사용 )
muted    : 음소거
controls  : 재생 조절장치 유무
loop       : 반복재생
poster     : 영상 로딩시 대체 이미지.
*/
/* #main_video start ---------------------- */
#main_video{
    width: 100%;
    height: 680px;
    position: relative;
    overflow: hidden;
    /* 
    전체화면일때 하단부에 스크롤바 생기면 코딩 오류
    overflow: hidden; 으로 치워야함
    */
}
.mv video{
    width: 100%;
    min-width: 1920px;
    /* 넓이 1920px 이하로 안내려감 */
    position: relative;
    top:50%;
    left: 50%;
    transform:translate(-50%, 0);
    /* 
    position을 이용해서 중앙잡는법 video태그는 margin: 0 auto;로 하기어려움
    transform:translate(가로,세로); : 현재 태그의 위치를 옮겨줌
    (margin-left : -현재태그의 값 절반; 과 비슷하나 값을 모르면 위의 방식대로 해야함.) 
    */
}
.mv_txt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* 
    top :50% 입력시 50%위치에서 시작하므로 세로중앙 안맞음
     transform: translateY(-50%); 로 세로중앙 잡아줘야함.
    */
    left: 0;
    width: 100%;
    text-align: center;
    /* 
    position : 독립 분리되는 특성. width값 인식이 안되서 width:100%로 지정
    .mv_txt는 인라인요소로 구성되어 있어서 text-align : center로 가로중앙정렬가능 
    */
    
}
.mv_txt h3{
    font-size: 100px;
    line-height: 100px;
    color:#fff;
    text-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4 );
    /*text-shadow : 가로 세로 번짐 색깔  */
    /* rgba :  ( r, g, b, a(투명도)*/
    /*
    == css3의 그림자 속성 ==
    {text-shadow : 가로 세로 번짐 색깔;}
    + : 오른쪽/ 아래
    -  : 왼쪽   / 위로 
    */
}
.apply{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-150px, 80px );
    width: 0;
    transition: width 0.5s;
    /* .apply에 width0주고 아래 hover에 width값 줘서 hover하면 width가 생기게 함 */
}
.apply:hover{
    width: 302px;
    background: #fff;
}
.apply a{
    display: block;
    width: 300px;
    height: 60px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
}
.apply:hover a{
    color:#1d4;
}
.mv_ad{}