@charset "UTF-8";

#wrap{}
/* header start------------- */
#header{
    background: #fffffd;
}
#header .header_area{
    display: flex;
    justify-content:center;
}
#header .header_area .header_logo{
    width: 1200px;
    display: flex;
    justify-content:space-between;
}

#header .header_area .header_logo h1{
    line-height: 70px;
    font-size: 30px;
    width: 142.64px;
}
#header .header_area .header_logo h1 span{
    font-weight: 900;
    color: rgb(4, 207, 92);
    font-size: 34px;  
}

#header .header_area .service_area{
    font-size: 0;
}
#header .header_area .service_area ul{
    display:flex;
    align-items: left;
    text-align: center;
    width: 400px;
}
#header .header_area .service_area ul li{
    font-size: 16px;
    border-right: 1px solid #333;
    line-height: 16px;
    margin-top: 30px;
    flex: 0 0 100px;
}
/* service_area hover-------------------- */
#header .header_area .service_area ul li:hover a{
    color: rgb(4, 207, 92);
}
/* ---------------------------------------- */
#header .header_area .service_area ul li:last-child{
    border-right:none;
}
#header .gnb{
    width: 100%;
    text-align: center;
}
#header .gnb h2{
    display: none;
}
#header .gnb ul{
    display: flex;
    border-top: 1px solid #aaa;
    font-size: 24px;
    line-height: 65px;
    justify-content: center;
}
#header .gnb ul li{
    flex:0 0 200px;    
}
/* .gub hover-------------------- */
#header .gnb ul li:hover a, #header .gnb ul .active a{
    color: rgb(4, 207, 92);
}

/* main_visual start--------------- */

/* 공통 태그 */
#main_visual .search .search_br, #main_visual .search label,#main_visual .search .dep_search {
    margin-top: 30px;
    height: 40px;
}
/* ----------- */

#main_visual{
    width: 100%;
    background: #fffffa;
}
#main_visual .search{
    border-top:1px solid #333;
    display: flex;
    justify-content: center;
}
#main_visual .search .search_br{
    width: 745px;
    border:none;
    font-size: 20px;
    border-bottom: 1px solid #333;
    background: #fffffa;
}
#main_visual .search .search_br:hover{
    border:none;
    border-bottom: 2px solid rgb(4, 207, 92);
}
#main_visual .search label {
    background: url(../img/search.png) no-repeat ;
    width: 40px;
    height: 40px;
    font-size: 0;
    padding:0 10px;
    
}
#main_visual .search .dep_search p{
    width: 60px;
    line-height: 40px;
    border: 1px solid rgb(4, 207, 92);
    border-radius: 7px;
    padding: 0 5px;
}
/* hover area--------------------- */

#main_visual .search .dep_search p:hover{
    background: rgb(4, 207, 92);
    
}
#main_visual .search .dep_search:hover a{
    color: #fff;
}

/* .inner start----------------------- */
#main_visual .inner{
    margin: 0 auto;
    position: relative;
}
#main_visual .inner .inner_title{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 80px;
}
/* .inner .lst_hotbook start---------------- */
#main_visual .inner .lst_hotbook{
    display: -webkit-flex;
    display: flex;
    width: 1005px;
    margin: 0 auto;
    justify-content: space-between;
}
#main_visual .inner .lst_hotbook .inner_book_lst a{
    display: block;
}
#main_visual .inner .lst_hotbook .inner_book_lst:hover a{
    color: rgb(4, 207, 92);
    text-decoration: underline;
}
#main_visual .inner .lst_hotbook .inner_book_lst .book_exh{
    font-size: 0;
    width: 140px;
}
#main_visual .inner .lst_hotbook .inner_book_lst .book_exh .photo{
    position: relative;
}
#main_visual .inner .lst_hotbook .inner_book_lst .book_exh .photo img{
    width: 140px;
    height: 200px;
}
#main_visual .inner .lst_hotbook .inner_book_lst .book_exh .photo .book_mask{
    width: 173px;
    height: 214px;
    display: block;
    background: url(../img/hbook_cover.png) no-repeat 0;
    z-index: 300;
    position: absolute;
    top:0;
    left: -16px;
}
#main_visual .inner .lst_hotbook .inner_book_lst .book_exh ul{
    text-align: center;
}
#main_visual .inner .lst_hotbook .inner_book_lst .book_exh ul .book_info{
    font-size: 18px;
    line-height: 50px;
    border: none;
    display: block;
}
#main_visual .inner .lst_hotbook .inner_book_lst .book_exh ul li{
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    border-right: 1px solid #333;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}
#main_visual .inner .lst_hotbook .inner_book_lst .book_exh ul li:last-child{
    border: none;
}
#main_visual .inner .pagination ul {
    display: flex;
    justify-content: center;
}
#main_visual .inner .pagination ul li{
    width: 10px;
    height: 10px;
    background: #bcc;
    border-radius: 10px;
    text-indent: -9999px;
    margin: 10px 5px;
}
#main_visual .inner .pagination ul li a{
    display: block;
}
/* .pagination ul li hover------------- */
#main_visual .inner .pagination ul li:hover a,
#main_visual .inner .pagination ul .active{
    background: rgb(4, 207, 92);
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
/* 버튼 공통 css---------- */
#main_visual .inner .btn_prev, #main_visual .inner .btn_next{
    position: absolute; top:50%; margin-top: -27px; left: 50%;
    font-size: 0;
    background: url(../img/bg.png) no-repeat 0px -60px;
    filter: opacity(0.5) drop-shadow(0 0 0 #222);
    width: 50px;
    height: 50px;
}
#main_visual .inner .btn_prev a, #main_visual .inner .btn_next a{
    display: block;
    width: 50px;
    height: 50px;
}
#main_visual .inner .btn_prev{
    margin-left: -600px ;
    transform:scale(-1) ;
}
#main_visual .inner .btn_next{
    margin-left: 550px ;
}
/* btb hover----------------- */
#main_visual .inner .btn_prev:hover, #main_visual .inner .btn_next:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 #0a0);
}
/* #container start------------------- */
#container{
    width: 100%;
    position: relative;
}
#container .cont1_header{
    margin: 0 auto;
}
#container .cont1_header .cont1_title{
    display: flex;
    justify-content: center;
    line-height: 90px;
    border-bottom: 1px solid #aaa ;
    text-align: center;
}
#container .cont1_header .cont1_gnb h3{
    display: none;
}
#container .cont1_header .cont1_gnb ul{
    display: flex;
    font-size: 16px;
    line-height: 50px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
#container .cont1_header .cont1_gnb ul li{
    flex:0 0 150px; 
}
#container .cont1_header .cont1_gnb ul .active a, #container .cont1_header .cont1_gnb ul li:hover a{
    color: rgb(4, 207, 92);
}
/* cont1 start--------------- */
#container .cont1{
    width: 100%;   
    padding: 20px 0;
    border-top: 1px solid #333;
}
#container .cont1 .bestseller_list{
    width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#container .cont1 .bestseller_list li {
    width: 220px;
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
}
#container .cont1 .bestseller_list li dl{
    width: 105px;
    margin: 0 auto;
    text-align: center;
}
#container .cont1 .bestseller_list li:hover a{
    color: rgb(4, 207, 92);  
}
#container .cont1 .bestseller_list li dl dt{
    position: relative;
    font-size: 18px;
    display: block;
}
#container .cont1 .bestseller_list li dl  .cont1_photo{
    margin-bottom: 10px;
}

#container .cont1 .bestseller_list li dl .cont1_photo .cont1_mask{
    background: url(../img/sp_thumb_all.png) no-repeat 0;
    width: 106px;
    height: 153px;
    position: absolute;
    z-index: 200;
    top: -2px;
    left: 0;   
}
#container .cont1 .bestseller_list li dl .cont1_photo .cont1_mask .cont1_bg1{
    background: url(../img/sp_thumb_all2.png) no-repeat 0;
    width: 6px;
    height: 4px;
    position: absolute;
    border: 1px solid #fff;
    background: #fff;
    border-end-start-radius: 5px;
    z-index: 0;  
    top: -4px;
    right: -4px;
}
#container .cont1 .bestseller_list li dl .cont1_photo .cont1_mask .cont1_bg2{
    background: url(../img/sp_thumb_all3.png) no-repeat 0;
    width: 106px;
    height: 153px;
    position: absolute;
    z-index: 291;   
    top: 0;
    left: 0;   
}
#container .cont1 .bestseller_list li dl .cont1_booktitle, #container .cont1 .bestseller_list li dl dd{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}
#container .cont1 .bestseller_list li dl dd{
    font-size: 14px;
}
#container .pagination{
    position: relative;
}
#container .pagination ul {
    display: flex;
    justify-content: center;
}
#container .pagination ul li{
    width: 10px;
    height: 10px;
    background: #bcc;
    border-radius: 10px;
    text-indent: -9999px;
    margin: 10px 5px;
}
#container .pagination ul li a{
    display: block;
}
#container .pagination ul li:hover a,
#container .pagination ul .active{
    background: rgb(4, 207, 92);
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
#container .btn_prev, #container .btn_next{
    position: absolute; top:50%; margin-top: -27px; left: 50%;
    background: url(../img/bg.png) no-repeat -155px -100px;
    filter: opacity(0.5) drop-shadow(0 0 0 #222);
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: -13px;
}
#container .btn_prev a, #container .btn_next a{
    display: block;
}
#container .btn_prev{
    margin-left: 50px;
    transform:scale(-1) ;
}
#container .btn_next{
    margin-left: -74px;
}
#container .btn_prev:hover, #container .btn_next:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 #0a0);
    border-color: #0a0;
}

/* #container .cont2 start-------------- */
#container .cont2{
    margin: 0 auto;
    padding: 20px;
}
#container .cont2 .cont2_title{
    display: flex;
    justify-content: center;
    line-height: 70px;
    border-top: 1px solid #aaa ;
    border-bottom: 1px solid #333 ;
    text-align: center;

}
#container .cont2 .cont2_issue{
    width: 1100px;
    margin: 0 auto;

}
#container .cont2 .cont2_issue .cont2_book{
    padding:20px;
    display: flex;
    display: webkit-flex;
    flex-wrap: wrap;

}
#container .cont2 .cont2_issue .cont2_book .cont2_exh{
    width: 500px;
    padding: 10px 10px 20px 10px;
    justify-content: space-between;
}
#container .cont2 .cont2_issue .cont2_book .cont2_exh a{
    
}

#container .cont2 .cont2_issue .cont2_book .cont2_exh a div{
    display: inline-block;
}

#container .cont2 .cont2_issue .cont2_book .cont2_photo{
    width: 127px;
    float: left;
    margin-right: 30px;
    position: relative;   
}
#container .cont2 .cont2_issue .cont2_book .cont2_photo .cont2_bg1{
    position: absolute;
    border: 1px solid #999;
    width: 125px;
    height: 188px;
    left: 0;
    box-shadow: 5px 5px 5px 5px #ccc ;
}
#container .cont2 .cont2_issue .cont2_book .cont2_photo .cont2_bg2{
    position: absolute;
    border-bottom: 10px solid #ddd;
    border-left: 5px solid transparent;
    border-right: 10px solid transparent;

    width: 112px;
    top:-10px;
    left: 0;
  
}
#container .cont2 .cont2_issue .cont2_book .cont2_info{
}
#container .cont2 .cont2_issue .cont2_book .cont2_info dl{
    width: 300px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
}
#container .cont2 .cont2_issue .cont2_book .cont2_info dl dt{
    font-size:16px;
    width: 300px;
    margin-bottom: 10px;
}
    
#container .cont2 .cont2_issue .cont2_book .cont2_info dl dd {
    font-size: 14px;
    width: 300px;
    margin-bottom: 5px;
}
    