@charset "UTF-8";

#warp{
	width: 1903px;
}
#warp .special_bg{
	width: 1903px;
}
#warp .special_bg .group_fiex{
	width: 1109px;
	margin: 0 397px;
}
#warp .logo_area{
	display: flex;	
}
#warp .logo{
	color: #245740;
	padding: 30px 0;
	margin-right: 438.78px;
}	
#warp .menu1 ul{
	font-size: 0;
	line-height: 0;
}
#warp .menu1 ul li{
	display: inline-block;
	text-align: center;
	padding: 45px 30px;
	width: 65px;
	font-size: 16px;
	line-height: 16px;
}


